header {
  background-color: rgb(226,226,226);
  border-bottom: 1px solid $border-color;
  @extend .pure-u-1;
  .content {
    @extend %content;
    margin-top: 21px;
    margin-bottom: 21px;
  }
}
.brand {
  font-weight: bold;
}
