/* CSS declarations go here */
@import "purecss";
@import "utils";

@import "includes";

@import "header";
@import "banner";
@import "bots";


* {
  box-sizing: border-box;
}

h1, h2 {
  font-weight: 200;
}

section {
  font-size: 1.5em;
  line-height: 1.4;
  @extend .pure-u-1;
  .content {
    @extend %content;
    @extend %content-padding;
  }
}

.bots {
  background-color: $color2;
}

.rules {
  background-color: $color3;
  .content {
    margin-bottom: 50px;
  }
}

.schedules {
  background-color: $color4;
}


.rule {
  @extend .pure-u-1;
  @extend .pure-button;
  margin-bottom: 20px;

  input[type='checkbox'] {
    float: left;
    margin-top: 7px;
  }
}
