/* CSS declarations go here */
@import "purecss";
@import "utils";

@import "includes";

@import "header";
@import "banner";
@import "bots";
@import "rules";

* {
  box-sizing: border-box;
}

body {
  color: #252525;
  text-shadow: 1px 0 0 rgba(255,255,255,0.5);
}

h1, h2 {
  font-weight: 200;
}

section {
  font-size: 1.5em;
  line-height: 1.4;
  @extend .pure-u-1;
  .content {
    @extend %content;
    @extend %content-padding;
  }
}

.bots {
  background-color: $color2;
}

.collapse {
  display: none;
}
input[type=checkbox]:checked ~ .collapse {
  display: block;
}

.rules {
  background-color: $color3;
  .content {
    margin-bottom: 50px;
  }
}

.schedules {
  background-color: $color4;
}

.schedule {
  @include base-button;
  input[type='checkbox'] {
    float: left;
    margin-top: 7px;
  }
}
